@font-face {
  font-family: 'Heebo-Regular';
  src: url('../assets/fonts/heebo/Heebo-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../assets/fonts/heebo/Heebo-Regular.woff') format('woff'), 
  url('../assets/fonts/heebo/Heebo-Regular.ttf')  format('truetype'), 
  url('../assets/fonts/heebo/Heebo-Regular.svg#Heebo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo-Bold';
  src: url('../assets/fonts/heebo/Heebo-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../assets/fonts/heebo/Heebo-Bold.woff') format('woff'), 
  url('../assets/fonts/heebo/Heebo-Bold.ttf')  format('truetype'), 
  url('../assets/fonts/heebo/Heebo-Bold.svg#Heebo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cambria';
  src: url('../assets/fonts/cambria/Cambria.eot') format('embedded-opentype'),
  url('../assets/fonts/cambria/Cambria.woff') format('woff'),
  url('../assets/fonts/cambria/Cambria.ttf') format('ttf'),
  url('../assets/fonts/cambria/Cambria.svg#Cambria') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cambria-Bold';
  src: url('../assets/fonts/cambria/Cambria-Bold.eot') format('embedded-opentype'),
  url('../assets/fonts/cambria/Cambria-Bold.woff') format('woff'),
  url('../assets/fonts/cambria/Cambria-Bold.ttf') format('ttf'),
  url('../assets/fonts/cambria/Cambria-Bold.svg#Cambria-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
