
// Colors

$color-base-green: #63A70A !default;
$color-base-black: #000000 !default;
$color-base-sherpa-blue: #003C4D !default;
$color-base-yellow: #FFB300 !default;
$color-base-red: #FF0000 !default;
$color-base-white: #FFFFFF !default;
$color-base-gray: #b6b8b9 !default;
$bg-color: #f4f6f7;
$light-gray: #bfbfbf;
$color-mute: #D8D8D8;

// Error
$err-bg: rgba(255,0,0,0.2);
$err-color: #ff0000;
$err-border-color: #ff0000;

// Success
$suc-bg: #f7faf3;
$suc-color: $color-base-green;
$suc-border-color: #d2e5b9;

$key-color-1: $color-base-green;
$key-color-2: $color-base-black;
$disabled-color: $color-base-gray;
$gray-light: $light-gray;
$sp-blue: $color-base-sherpa-blue;
$inverted-color: $color-base-white;



