body {
  overflow-x: hidden;
}
.loader-on-page-load {
  position: relative;
  margin: 10% auto 0;
  display: block;
}
.no-script-inner {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: .5rem;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  z-index: 99999;
  text-align: center;
  left: 0%;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.danger-no-script {
  margin:0 auto
}
.javascript-message {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 24px;
  max-width: 520px;
  margin:15px auto 2rem;
}
.javascript-message a {
  color: #38c6f4;
}
.loader-default-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 999;
}
