@import "variables";
.no-results-section {
  width: 100%;
  float: left;
  padding: 20px 0px 40px;
  h2 {
    color: $key-color-2;
    font-size: $font-size-large;
    font-weight: 600;
  }

  p {
    color: rgba($key-color-2, 0.5);
    font-size: $font-size-extra-small;
  }
}
